*{
    margin: 0; padding: 0;
    border: 0; outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1c1c;
}
.calculator{
    display: flex;
    position: relative;
    width: 300px; height: 330px;
    padding: 30px;
    background: #1d1c1c;
    border-radius: 20px;
    box-shadow: 2px 1px 8px rgba(255, 255, 255, .08), inset 1px 2px 10px rgba(255, 255, 255, .05);
}